.water-level-paw-print {
  position: relative;
  width: 110px;
  height: 110px;
}

.water-level-paw-print canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.water-level-paw-print svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
}
