.onboarding-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.placeholder{
    width: 93%;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #445A6E;
    border-radius: 5px;
    color: #ccc;
}

.placeholder:focus{
    border-color: #71bbff;
    border-width: 2px;;
    outline: none;
}

.key.animate {
    animation: drop ease-out forwards 1100ms; 
}

@keyframes drop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.placeholder::placeholder{
    color: #445A6E;

}

.error-message{
    color: #FF0000;
    margin-top: 10px;
}