.violationsOverview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.headerGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.graphValues {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.violations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}
