.issueFrame {
  display: flex;
  padding: 5px 10px;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
  align-self: stretch;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.issueFrame.hovered {
  background-color: rgba(36, 36, 36, 0.8);
}

.issueInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.devider-horizontal {
  width: 100%;
  height: 1px;
  background-color: #FDA1A2;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease, margin 0.3s ease;
}

.issueFile {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.issueLine-header{
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.issueLine-header .lineColor {
  color: #A3A3A3;
}

.issueLine {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  flex: 1 0 0;
}

.issueDesc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 700;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease, margin 0.3s ease;
  margin-top: 0;
}

.issueFrame.hovered .issueDesc,
.issueFrame.hovered .devider-horizontal {
  opacity: 1;
  max-height: 1.5em;
  margin-top: 4px;
}

.fileName {
  color: #ccc;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}
