.paw {
  transform: scale(25%);
}

.headerGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.title {
  font-size: 16px;
  font-style: normal;
  color: #ccc;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
