@keyframes backgroundTransition-1 {
    0%{
        background:#FDA1A2;
        opacity: 1;
    }
    50%{
        background:#FDA1A2;
        opacity: 0.8;
    }
    100% {
        background:#FDA1A2;
        opacity: 1;
    }
    150%{
        background:#FDA1A2;
        opacity: 0.8;
    }
    200%{
        background:#FDA1A2;
        opacity: 1;
    }
}

@keyframes backgroundTransition-2 {
    0% {
        background: linear-gradient(180deg,
        #FDA1A2 2.81%, 
        #FF6D6D 35.8%, 
        #FF6D6D 51.67%, 
        #FDA1A2 99.99%);
        opacity: 0;
    }
    50% {
        background: linear-gradient(180deg,
        #FDA1A2 2.81%, 
        #FF6D6D 35.8%, 
        #FF6D6D 51.67%, 
        #FDA1A2 99.99%);
        opacity: 1;
    }
    100% {
        background: linear-gradient(180deg,
        #FDA1A2 2.81%, 
        #FF6D6D 35.8%, 
        #FF6D6D 51.67%, 
        #FDA1A2 99.99%);
        opacity: 0;
    }
    150%{
        background: linear-gradient(180deg,
        #FDA1A2 2.81%, 
        #FF6D6D 35.8%, 
        #FF6D6D 51.67%, 
        #FDA1A2 99.99%);
        opacity: 1;
    }
    200%{
        background: linear-gradient(180deg,
        #FDA1A2 2.81%, 
        #FF6D6D 35.8%, 
        #FF6D6D 51.67%, 
        #FDA1A2 99.99%);
        opacity: 0;
    }
}

@keyframes colorTransition {
    0% {
        color: #181818; 
    }
    100% {
        color: #D9D9D9; 
    }
}

.background-layer-1,
.background-layer-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.background-layer-1 {
    animation: backgroundTransition-1 10s ease-in-out;
}

.background-layer-2 {
    animation: backgroundTransition-2 10s ease-in-out;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.paw-loading {
    transform: scale(0.5);
}

.subtext-loading {
    width: 100%;
    text-align: center;
    opacity: 0;
    margin-top: 5px;
}

.title-loading.animate {
    animation: colorTransition 5s ease-in-out infinite alternate; 
}

.subtext-loading.animate {
    animation: colorTransition 5s ease-in-out infinite alternate; 
}