clipPath path {
  fill: rgb(70, 183, 87);
}

rect,
.water-container {
  transition: transform 500ms;
}

.aaWater {
  animation: ripple 2.4s infinite linear;
  fill: #ff6d6d;
}

.aaaWater {
  animation: ripple 1.8s infinite linear;
  fill: #fda1a2;
}

@keyframes ripple {
  100% {
    transform: translate3d(-105%, 0, 0);
  }
}
