.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #599cd8;
  line-height: normal;

  text-decoration: underline;
  cursor: pointer;
}
.link-icon {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 1px;
}

.link:hover {
  color: #295780;
}
