/* Button.css */

.button {
  position: relative;
  border-radius: 5px;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s, padding 0.3s, color 0.3s;
  overflow: hidden;
}

.button.filled {
  background: #71bbff;
  color: var(--vscode-editor-background);
  font-size: 18px;
  font-weight: 600;
  padding: 6px 0px 8px 0px;
  box-shadow: inset 0 -2px 0 0 #599cd8;
}

.button.filled:hover {
  box-shadow: inset 0 0px 0 0 #599cd8;
  color: #2b455c;
  padding: 7px 0px 7px 0px;
}

.button.filled::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: all 0.3s ease-out;
}

.button.filled:hover::before {
  left: 125%;
  transition: all 0.6s ease-out;
}

.button.outlined {
  background: transparent;
  border: 2px solid #71bbff;
  font-size: 14px;
  font-weight: 500;
  color: #71bbff;
  padding: 5px 0px;
}

.button.outlined:hover {
  background: rgba(113, 187, 255, 0.1);
}
