.accessibility-score-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  gap: 15px;
}

.accessibility-score-label {
  font-size: 16px;
  font-style: normal;
  color: #ccc;
  font-weight: 700;
}

.accessibility-score-value {
  font-weight: 700;
  word-wrap: break-word;
  font-size: 50px;
}
